In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('employee_sales_data.csv')
df = pd.DataFrame(data)
print(df.head())

   EmployeeID  Age  Gender EducationLevel  Experience SalesTraining  \
0           1   52  Female       Bachelor          18            No
1           2   37  Female       Bachelor          23           Yes
2           3   37    Male    High School          28           Yes
3           4   27    Male            PhD          27            No
4           5   58    Male       Bachelor          17            No

   PreviousSalesPerformance  SalesPerformance
0                     46948             70343
1                     40034             69069
2                     50900             65868
3                     30787             28203
4                     27625             83064

In [31]:

df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1})
df['SalesTraining'] = df['SalesTraining'].map({'No': 0, 'Yes': 1})
df['EducationLevel'] = df['EducationLevel'].map({'High School': 0, 'Bachelor':1, 'Master':2, 'PhD': 3})

print(df)

     EmployeeID  Age  Gender  EducationLevel  Experience  SalesTraining  \
0             1   52       1               1          18              0
1             2   37       1               1          23              1
2             3   37       0               0          28              1
3             4   27       0               3          27              0
4             5   58       0               1          17              0
..          ...  ...     ...             ...         ...            ...
995         996   38       1               3          15              1
996         997   52       0               0          16              0
997         998   57       1               3          15              1
998         999   38       0               2           9              1
999        1000   38       1               3          22              0

     PreviousSalesPerformance  SalesPerformance
0                       46948             70343
1                       40034             69069
2                       50900             65868
3                       30787             28203
4                       27625             83064
..                        ...               ...
995                     38595             58280
996                     61157             78991
997                     33872             77871
998                     50685            100052
999                     58184             63766

[1000 rows x 8 columns]

In [32]:
df.to_csv('employee_sales_data.csv', index=False)

In [33]:
df.isnull().sum()

EmployeeID                  0
Age                         0
Gender                      0
EducationLevel              0
Experience                  0
SalesTraining               0
PreviousSalesPerformance    0
SalesPerformance            0
dtype: int64

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df[['PreviousSalesPerformance', 'SalesPerformance']] = scaler.fit_transform(df[['PreviousSalesPerformance', 'SalesPerformance']])

In [35]:
df

,EmployeeID,Age,Gender,EducationLevel,Experience,SalesTraining,PreviousSalesPerformance,SalesPerformance
0,1,52,1,1,18,0,-0.105762,0.007126
1,2,37,1,1,23,1,-0.556309,-0.059486
2,3,37,0,0,28,1,0.151767,-0.226853
3,4,27,0,3,27,0,-1.158884,-2.196198
4,5,58,0,1,17,0,-1.364934,0.672253
...,...,...,...,...,...,...,...,...
995,996,38,1,3,15,1,-0.650080,-0.623598
996,997,52,0,0,16,0,0.820159,0.459293
997,998,57,1,3,15,1,-0.957852,0.400733
998,999,38,0,2,9,1,0.137757,1.560485
999,1000,38,1,3,22,0,0.626425,-0.336758

In [36]:
df.to_csv('employee_sales_data.csv', index=False)

In [37]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Load the dataset
df = pd.read_csv("employee_sales_data.csv")

# Prepare the data
X = df.drop(columns=['SalesPerformance'])
y = df['SalesPerformance']

# Use RFE with a linear regression model
model = LinearRegression()
rfe = RFE(model, n_features_to_select=5)  # Adjust the number of features to select
fit = rfe.fit(X, y)

# Print selected features
selected_features = X.columns[fit.support_]
print("Selected Features: ", selected_features)

Selected Features:  Index(['Age', 'Gender', 'Experience', 'SalesTraining',
       'PreviousSalesPerformance'],
      dtype='object')